# Visual Studio Code files
.vscode/
build/

# Visual Studio files
KEngine.NET.SDK/.vs
KEngine.NET.SDK/bin
KEngine.NET.SDK/obj

# Files in the root directory to run the engine
GameScripts.dll
KEngine.dll
